
sudo apt-get install bluetooth bluez libbluetooth-dev
sudo apt install pkg-config libboost-python-dev libboost-thread-dev libbluetooth-dev libglib2.0-dev python-dev


pip3 install pade
pip3 install pybluez
pip3 install gattlib
pip3 install python-dotenv
pip3 install pymongo

pip3 install python-socketio
pip3 install python-engineio
pip3 install websocket-client
pip3 install service-identity
